<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
	<div>
		<f:render partial="Field/Field" arguments="{element: element}" contentAs="elementContent">
			<f:if condition="{element.properties.displayTimeSelector}">
				<f:then>
					<div class="row">
						<div class="col-6">
							<formvh:form.datePicker
									id="{element.uniqueIdentifier}"
									property="{element.identifier}"
									dateFormat="{element.properties.dateFormat}"
									initialDate="{element.properties.initialDate}"
									enableDatePicker="0"
									class="{element.properties.elementClassAttribute}"
									errorClass="{element.properties.elementErrorClassAttribute}"
									additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
									previewMode="{element.rootForm.renderingOptions.previewMode}"
							/>
						</div>
						<div class="col-3">
							<div class="{element.properties.containerClassAttribute}">
								<formvh:form.timePicker
										id="{element.uniqueIdentifier}-time"
										property="{element.identifier}"
										initialDate="{element.properties.initialDate}"
										class="{element.properties.timeSelectorClassAttribute} form-control"
										errorClass="{element.properties.elementErrorClassAttribute}"
										timeType="hour"
								/>
							</div>
						</div>
						<div class="col-3">
							<div class="{element.properties.containerClassAttribute}">
								<formvh:form.timePicker
										id="{element.uniqueIdentifier}-time-minute"
										property="{element.identifier}"
										initialDate="{element.properties.initialDate}"
										class="{element.properties.timeSelectorClassAttribute} form-control"
										errorClass="{element.properties.elementErrorClassAttribute}"
										timeType="minute"
								/>
							</div>
						</div>
					</div>
				</f:then>
				<f:else>
					<formvh:form.datePicker
							id="{element.uniqueIdentifier}"
							property="{element.identifier}"
							dateFormat="{element.properties.dateFormat}"
							initialDate="{element.properties.initialDate}"
							enableDatePicker="0"
							class="{element.properties.elementClassAttribute}"
							errorClass="{element.properties.elementErrorClassAttribute}"
							additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
							previewMode="{element.rootForm.renderingOptions.previewMode}"
					/>
				</f:else>
			</f:if>
		</f:render>
	</div>
</formvh:renderRenderable>
</html>
