$grid-gutter-width-sm: 20px !default;

@import 'mixins';
@import 'helper';
@import 'spaces';

.row {
    &.sm-gutter {
        margin-left: $grid-gutter-width-sm / 2 * -1;
        margin-right: $grid-gutter-width-sm / 2 * -1;

        > [class^="col-"],
        > [class*=" col-"] {
            padding-left: $grid-gutter-width-sm / 2;
            padding-right: $grid-gutter-width-sm / 2;
        }
    }

    &.no-gutter {
        margin-left: 0;
        margin-right: 0;

        > [class^="col-"],
        > [class*=" col-"] {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.container .container-fluid,
.container .container {
    padding-left: 0;
    padding-right: 0;
    width: auto !important;
}

.ce-gallery {
    .row {
        margin-left: -5px;
        margin-right: -5px;

        > * {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .ce-center & {
        figure.image {
            text-align: center;
        }
    }

    .ce-intext & {
        max-width: 50%;
    }

    .image-embed-item {
        max-width: 100%;
        height: auto;
        display: inline-block;
    }

    figure.image {
        display: block;
        margin-bottom: 10px;
    }
}

nav ul {
    list-style: none;
    padding: 0;
}