.visible-xs,
.visible-sm,
.visible-md,
.visible-lg,
.visible-xl {
    display: none !important;
}

body {
    .hidden-xs {
        @include respond-to(xs) {
            display: none !important;
        }
    }

    .hidden-sm {
        @include respond-to(sm) {
            display: none !important;
        }
    }

    .hidden-md {
        @include respond-to(md) {
            display: none !important;
        }
    }

    .hidden-lg {
        @include respond-to(lg) {
            display: none !important;
        }
    }

    .hidden-xl {
        @include respond-to(xl) {
            display: none !important;
        }
    }

    .visible-xs {
        @include respond-to(xs) {
            display: block !important;
        }
    }

    .visible-sm {
        @include respond-to(sm) {
            display: block !important;
        }
    }

    .visible-md {
        @include respond-to(md) {
            display: block !important;
        }
    }

    .visible-lg {
        @include respond-to(lg) {
            display: block !important;
        }
    }

    .visible-xl {
        @include respond-to(xl) {
            display: block !important;
        }
    }
}