@for $i from 1 through 500 {
    .content-space-before-#{$i} {
        margin-top: 0px + $i !important;

        @include respond-to(lg) {
            margin-top: 0px + round($i*0.9) !important;
        }

        @include respond-to(md) {
            margin-top: 0px + round($i*0.8) !important;
        }

        @include respond-to(sm) {
            margin-top: 0px + round($i*0.6) !important;
        }

        @include respond-to(xs) {
            margin-top: 0px + round($i*0.5) !important;
        }
    }

    .content-space-after-#{$i} {
        margin-bottom: 0px + $i !important;

        @include respond-to(lg) {
            margin-bottom: 0px + round($i*0.9) !important;
        }

        @include respond-to(md) {
            margin-bottom: 0px + round($i*0.8) !important;
        }

        @include respond-to(sm) {
            margin-bottom: 0px + round($i*0.6) !important;
        }

        @include respond-to(xs) {
            margin-bottom: 0px + round($i*0.5) !important;
        }
    }
}