{namespace ib=IMIA\ImiaBase\ViewHelpers}

<f:layout name="Standard" />

<f:section name="Content">
    <!--TYPO3SEARCH_begin-->
    <ib:content.render colPos="0" />
    <!--TYPO3SEARCH_end-->
</f:section>