{namespace ib=IMIA\ImiaBase\ViewHelpers}

<ib:variable.set name="columnClasses" value="col-12" />
<f:switch expression="{gallery.count.columns}">
	<f:case value="2">
		<ib:variable.set name="columnClasses" value="col-12 col-md-6" />
	</f:case>
	<f:case value="3">
		<ib:variable.set name="columnClasses" value="col-12 col-md-4" />
	</f:case>
	<f:case value="4">
		<ib:variable.set name="columnClasses" value="col-6 col-lg-3" />
	</f:case>
	<f:case value="5">
		<ib:variable.set name="columnClasses" value="col-6 col-sm-4 col-md-3 col-lg-2" />
	</f:case>
	<f:case value="6">
		<ib:variable.set name="columnClasses" value="col-6 col-sm-4 col-md-3 col-lg-2" />
	</f:case>
	<f:case value="7">
		<ib:variable.set name="columnClasses" value="col-4 col-sm-3 col-md-2 col-lg-1" />
	</f:case>
	<f:case value="8">
		<ib:variable.set name="columnClasses" value="col-4 col-sm-3 col-md-2 col-lg-1" />
	</f:case>
	<f:case value="9">
		<ib:variable.set name="columnClasses" value="col-4 col-sm-3 col-md-2 col-lg-1" />
	</f:case>
	<f:case value="10">
		<ib:variable.set name="columnClasses" value="col-4 col-sm-3 col-md-2 col-lg-1" />
	</f:case>
	<f:case value="11">
		<ib:variable.set name="columnClasses" value="col-4 col-sm-3 col-md-2 col-lg-1" />
	</f:case>
	<f:case value="12">
		<ib:variable.set name="columnClasses" value="col-4 col-sm-3 col-md-2 col-lg-1" />
	</f:case>
</f:switch>

<f:if condition="{gallery.rows}">
	<div class="ce-gallery{f:if(condition: data.imageborder, then: ' ce-border')}" data-ce-columns="{gallery.count.columns}" data-ce-images="{gallery.count.files}" style="{f:if(condition: '{gallery.position.vertical} == intext', then: 'width: {gallery.width}px')}">
		<div class="row">
			<f:for each="{gallery.rows}" as="row">
				<f:for each="{row.columns}" as="column">
					<f:if condition="{column.media}">
						<div class="{columnClasses}">
							<f:render partial="Media/Type" arguments="{file: column.media, dimensions: column.dimensions, data: data, settings: settings}" />
						</div>
					</f:if>
				</f:for>
			</f:for>
		</div>
	</div>
</f:if>