<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="media media-new-content-element-wizard">
		<f:if condition="{onClickEvent} == ''">
			<div class="media-left">
				<input type="radio" name="tempB" value="{wizardKey -> f:format.htmlspecialchars()}" onclick="{wizardOnClick -> f:format.htmlspecialchars()}"/>
			</div>
		</f:if>
		<f:if condition="{content}">
		<a href="#" onclick="{aOnClick -> f:format.htmlspecialchars()}">
			{content -> f:format.raw()}
		</a>
		</f:if>
		<div class="media-left">
			<a href="#" onclick="{aOnClick -> f:format.htmlspecialchars()}">
				{icon -> f:format.raw()}
			</a>
		</div>
		<div class="media-body">
			<a href="#" onclick="{aOnClick -> f:format.htmlspecialchars()}">
				<strong>{wizardInformation.title -> f:format.htmlspecialchars()}</strong>
				<br />
				{wizardInformation.description -> f:format.htmlspecialchars() -> f:format.nl2br()}
			</a>
		</div>
</div>
</html>
