{namespace ib=IMIA\ImiaBase\ViewHelpers}<f:spaceless>
	<ib:variable.set name="frameClass"><f:spaceless>
		<f:if condition="{data -> ib:tcaHasColumn(column: 'frame_class')}">
			{f:if(condition: '{data.frame_class} != default', then: 'frame-{data.frame_class}', else: 'container')}
		</f:if>
	</f:spaceless></ib:variable.set>
	<f:if condition="{data.bootstrap_visibility}">
		<f:for each="{data.bootstrap_visibility -> ib:explode()}" as="visibility">
			<ib:variable.set name="frameClass"><f:spaceless>
				{frameClass} visible-{visibility}
			</f:spaceless></ib:variable.set>
		</f:for>
	</f:if>
	<div id="c{data.uid}" class="ce {frameClass}{f:if(condition: data.layout, then: ' layout-{data.layout}')}{f:if(condition: data.spaceBefore, then: ' content-space-before-{data.spaceBefore}')}{f:if(condition: data.spaceAfter, then: ' content-space-after-{data.spaceAfter}')}">
		<f:if condition="{data._LOCALIZED_UID}">
			<a id="c{data._LOCALIZED_UID}"></a>
		</f:if>
		<f:render section="Before" optional="true">
			<f:render partial="DropIn/Before/All" arguments="{_all}" />
		</f:render>
		<f:render section="Header" optional="true">
			<f:render partial="Header/All" arguments="{_all}" />
		</f:render>
		<f:render section="Main" optional="true" />
		<f:render section="Footer" optional="true">
			<f:render partial="Footer/All" arguments="{_all}" />
		</f:render>
		<f:render section="After" optional="true">
			<f:render partial="DropIn/After/All" arguments="{_all}" />
		</f:render>
	</div>
</f:spaceless>