.contentelement-wizard-item-icon {
    width: 24px;
    height: 24px;
    overflow: hidden;
}
.contentelement-wizard-item-icon img {
    max-width: 100%;
    max-height: 100%;
}
.contentelement-wizard-item-text {
    margin-left: 30px;
}