.icon-list .item img {
	max-width: 32px;
	max-height: 32px;
}

.cke_combopanel {
	width: 300px !important;
	height: 300px !important;
}

.select-checkbox + .panel > .table-responsive {
	overflow: auto;
	max-height: 280px;
}