.ui-resizable-e {
	width: 7px;
}
.grid-hidden {
	display: none;
}
.base-grid .row {
	padding-right: 10px;
}
.base-grid h5 {
	padding: 12px;
	position: relative;
	left: -12px;
	margin: 0 0 5px;
	width: 110%;
}
.base-grid .enablable {
	cursor: pointer;
	font-style: italic;
}
.base-grid .enablable:hover {
	background-color: rgb(237, 237, 237);
}
.base-grid .enablable::after {
	content: "\f13a";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-left: 6px;
}
.base-grid .enablable.enabled {
	font-style: normal;
}
.base-grid .enablable.enabled::after {
	content: "\f139";
}
.base-grid .grid-column {
	height: 45px;
	position: relative;
	margin-bottom: 10px;
}
.base-grid .grid-column .info {
	position: relative;
	display: block;
	height: 100%;
	padding: 15px 10px;
	text-align: center;
	background: rgb(255, 255, 255);
	border-width: 1px;
	border-style: solid;
	border-color: rgb(204, 204, 204);
	font-weight: bold;
}
.base-grid .ui-resizable-handle {
	right: 9px;
}