.languageSelection {
    border-bottom: 1px solid #cdcdcd;
    position: relative;
    top: -15px;
    text-align: right;
    min-height: 40px;
    padding-bottom: 10px
}

.languageSelection .languageItems {
    display: inline-block;
    text-align: left;
}

.languageSelection .languageItems p {
    margin: 6px 0;
}

.languageSelection .languageItems p * {
    vertical-align: middle
}

.language-contents {
    margin: 10px -5px -5px;
}

.language-contents h4 {
    padding: 0 5px;
}

.language-contents .t3-row-header {
    background: #f1f1f1 !important;
}

.language-contents .t3-page-ce-body {
    border-color: #cdcdcd !important;
}

.language-contents .t3-page-ce-body:last-child {
    display: none;
}

.language-contents .create-new-language .ce-icons a {
    font-size: 11px;
    color: #444;
    font-weight: normal;
    font-style: italic
}

.language-contents .create-new-language .t3-icon {
    visibility: visible !important
}

.language-contents .create-new-language .t3-row-header {
    opacity: 0.8
}

.language-contents .t3-page-lang-copyce {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 10px
}

.language-contents .t3-page-lang-copyce input {
    margin: 0 !important
}

.t3-gridTable {
    margin: 0 !important;
}

.t3-gridContainer {
    margin: 0 -12px !important;
}

#typo3-inner-docbody h1 {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #cdcdcd;
}

#typo3-inner-docbody .t3-page-ce .t3-row-header .ce-icons, #typo3-inner-docbody .t3-page-ce .t3-row-header .ce-icons-left {
    visibility: visible;
}

.t3-page-ce .t3-page-ce .t3-page-ce-body {
    border-color: #cacaca;
}

.t3-page-ce .t3-page-ce .t3-page-ce-header .t3-row-header {
    background-color: #cacaca;
}

#typo3-inner-docbody .t3-page-ce:hover > * > .t3-page-ce-body {
    border-color: #5b5b5b;
}

#typo3-inner-docbody .t3-page-ce:hover > * > .t3-page-ce-header .t3-row-header {
    background-color: #5b5b5b;
}

#typo3-inner-docbody h1 + .typo3-message {
    top: 20px !important
}

.exampleContent,
.exampleContent .preview-content {
    position: relative;
    display: block;
}
.exampleContent .link-area,
.exampleContent .link-area a {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
}
.exampleContent .t3-grid-container {
    margin: 0 -10px 10px;
}
.exampleContent .t3-grid-container + .link-area {
    display: none;
}
.exampleContent .t3-page-column-header {
    padding-top: 5px;
}

a.btn.toggle-grid.collapsed {
    background-color: #bbb !important;
    border-color: #9c9c9c !important;
}
a.btn.toggle-grid.collapsed:hover {
    background-color: #d5d4d4 !important;
    border-color: #bbb !important;
}

a.btn.toggle-grid .icon-actions-view-list-expand {
    display: none;
}
a.btn.toggle-grid.collapsed .icon-actions-view-list-collapse {
    display: none;
}
a.btn.toggle-grid.collapsed .icon-actions-view-list-expand {
    display: inline-block;
}