img.t3-TCEforms-reqTabImg {
    width: auto;
    height: auto;
}
pre {
    white-space: normal;
    word-wrap: break-word;
}

table.wrapperTable .class-main2 td.palette-header,
table.wrapperTable .class-main12 td.palette-header,
table.wrapperTable1 .class-main2 td.palette-header,
table.wrapperTable1 .class-main12 td.palette-header,
table.wrapperTable2 .class-main2 td.palette-header,
table.wrapperTable2 .class-main12 td.palette-header,
table.wrapperTable3 .class-main2 td.palette-header,
table.wrapperTable3 .class-main12 td.palette-header,
table.wrapperTable4 .class-main2 td.palette-header,
table.wrapperTable4 .class-main12 td.palette-header,
table.wrapperTable5 .class-main2 td.palette-header,
table.wrapperTable5 .class-main12 td.palette-header {
    padding-left: 10px;
}

.toolbar-item .dropdown-menu {
    overflow: auto;
    max-height: 500px;
}