@import 'high-dpi';

@mixin background-image-variants($image, $svg: true, $hdpi: true) {
    @if ($svg) {
        background-image: url('#{$image}.svg') !important;

        .no-svg & {
            background-image: url('#{$image}.png');

            @if ($hdpi) {
                @include high-dpi() {
                    background-image: url('#{$image}@2x.png');
                }
            }
        }
    } @else {
        background-image: url('#{$image}.png');

        @if ($hdpi) {
            @include high-dpi() {
                background-image: url('#{$image}@2x.png');
            }
        }
    }
}