@mixin respond-to($media) {
    @if variable-exists('grid-breakpoints') {
        @if type-of($grid-breakpoints) == map {
            @if $media == xs {
                @media only screen and (min-width: map-get($grid-breakpoints, xs)) and (max-width: map-get($grid-breakpoints, sm) - 1) {
                    @content;
                }
            } @else if $media == lxs {
                @media only screen and (min-width: map-get($grid-breakpoints, xs)) {
                    @content;
                }
            } @else if $media == ssm {
                @media only screen and (max-width: map-get($grid-breakpoints, sm) -1) {
                    @content;
                }
            } @else if $media == sm {
                @media only screen and (min-width: map-get($grid-breakpoints, sm)) and (max-width: map-get($grid-breakpoints, md) - 1) {
                    @content;
                }
            } @else if $media == lsm {
                @media only screen and (min-width: map-get($grid-breakpoints, sm)) {
                    @content;
                }
            } @else if $media == smd {
                @media only screen and (max-width: map-get($grid-breakpoints, md) - 1) {
                    @content;
                }
            } @else if $media == md {
                @media only screen and (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg) - 1) {
                    @content;
                }
            } @else if $media == lmd {
                @media only screen and (min-width: map-get($grid-breakpoints, md)) {
                    @content;
                }
            } @else if $media == slg {
                @media only screen and (max-width: map-get($grid-breakpoints, lg) - 1) {
                    @content;
                }
            } @else if $media == lg {
                @media only screen and (min-width: map-get($grid-breakpoints, lg)) and (max-width: map-get($grid-breakpoints, xl) - 1) {
                    @content;
                }
            } @else if $media == llg {
                @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
                    @content;
                }
            } @else if $media == sxl {
                @media only screen and (max-width: map-get($grid-breakpoints, xl) - 1) {
                    @content;
                }
            } @else if $media == xl {
                @media only screen and (min-width: map-get($grid-breakpoints, xl)) {
                    @content;
                }
            } @else if $media == lxl {
                @media only screen and (min-width: map-get($grid-breakpoints, xl)) {
                    @content;
                }
            }
        } @else {
            @warn 'The variable $grid-breakpoints is not a map';
        }
    } @else {
        @warn 'The variable $grid-breakpoints is not defined';
    }
}