@mixin respond-var($attr, $var, $add: 0) {
    @if (type-of($var) == 'map') {
        @if map-has-key($var, 'default') {
            @if $add != 0 {
                #{$attr}: map-get($var, 'default') + $add;
            } @else {
                #{$attr}: map-get($var, 'default');
            }
        } @else if map-has-key($var, 'def') {
            @if $add != 0 {
                #{$attr}: map-get($var, 'def') + $add;
            } @else {
                #{$attr}: map-get($var, 'def');
            }
        } @else if map-has-key($var, '_') {
            @if $add != 0 {
                #{$attr}: map-get($var, '_') + $add;
            } @else {
                #{$attr}: map-get($var, '_');
            }
        }

        @if not (variable-exists('rte') and $rte) {
            @each $breakpoint in xs, sm, md, lg, xl {
                @if map-has-key($var, $breakpoint) {
                    @include respond-to($breakpoint) {
                        @if $add != 0 {
                            #{$attr}: map-get($var, $breakpoint) + $add;
                        } @else {
                            #{$attr}: map-get($var, $breakpoint);
                        }
                    }
                }
            }
        }
    } @else {
        @if $add != 0 {
            #{$attr}: $var + $add;
        } @else {
            #{$attr}: $var;
        }
    }
}