{namespace ib=IMIA\ImiaBase\ViewHelpers}

<f:layout name="Default" />

<f:section name="BackendLayout">
</f:section>

<f:section name="Main">
    <div id="accordion-{record.uid}" class="accordion panel-group" role="tablist" aria-multiselectable="true">
        <f:for each="{gridContainers}" as="gridContainer" iteration="iterator">
            <div class="card panel panel-default">
                <div class="card-header panel-heading" role="tab" id="accordion-{record.uid}-heading-{gridContainer.uid}">
                    <h5 class="mb-0 panel-title">
                        <a data-toggle="collapse" data-parent="#accordion-{record.uid}" href="#accordion-{record.uid}-collapse-{gridContainer.uid}" aria-expanded="false">
                            {gridContainer.title}
                        </a>
                    </h5>
                </div>

                <div id="accordion-{record.uid}-collapse-{gridContainer.uid}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-{record.uid}-heading-{gridContainer.uid}">
                    <div class="card-block panel-body">
                        <ib:content.render colPos="{f:if(condition: gridContainer.l10n_parent, then: gridContainer.l10n_parent, else: gridContainer.uid)}" gridParent="{record.uid}" />
                    </div>
                </div>
            </div>
        </f:for>
    </div>
</f:section>