{namespace ib=IMIA\ImiaBase\ViewHelpers}

<f:layout name="Default" />

<f:section name="BackendLayout">
    <div class="carousel row" style="display: flex; flex-wrap: wrap">
        <f:for each="{slides}" as="slide">
            <div class="col-3 col-xs-3">
                <div style="height: 100%; padding: 5px; {f:if(condition: slide.background_color, then: 'background-color: {slide.background_color}')}">
                    <f:if condition="{slide.image}">
                        <f:image src="{slide.image.uid}" treatIdAsReference="1" alt="{slide.title}" maxWidth="300" />
                    </f:if>
                    <div class="caption">
                        <f:if condition="{slide.title}">
                            <h4>{slide.title}</h4>
                        </f:if>
                        {slide.text -> f:format.html()}

                        <f:if condition="{slide.link}">
                            {slide.link_text} ({slide.link})
                        </f:if>
                    </div>
                </div>
            </div>
        </f:for>
    </div>
</f:section>

<f:section name="Main">
    <div class="carousel">
        <f:for each="{slides}" as="slide">
            <div class="item" style="{f:if(condition: slide.background_color, then: 'background-color: {slide.background_color}')}">
                <f:if condition="{slide.image}">
                    <f:image src="{slide.image.uid}" treatIdAsReference="1" alt="{slide.title}" class="img-fluid" maxWidth="1920" style="{f:if(condition: maxHeight, then: 'max-height: {maxHeight}px')}" />
                </f:if>
                <div class="caption">
                    <f:if condition="{slide.title}">
                        <h2>{slide.title}</h2>
                    </f:if>
                    {slide.text -> f:format.html()}
                    <f:if condition="{slide.link}">
                        <f:link.typolink parameter="{slide.link}">{slide.link_text}</f:link.typolink>
                    </f:if>
                </div>
            </div>
        </f:for>
    </div>
</f:section>