{namespace ib=IMIA\ImiaBase\ViewHelpers}

<f:layout name="Default" />

<f:section name="BackendLayout">
    <f:if condition="{container}">
        <f:translate key="LLL:EXT:imia_base/Resources/Private/Language/Backend.xlf:contentelement.grid.fields.container" />
    </f:if>
</f:section>

<f:section name="Main">
    <f:if condition="{container}">
        <f:then>
            <div class="container">
                <f:render section="Grid" arguments="{_all}" />
            </div>
        </f:then>
        <f:else>
            <f:render section="Grid" arguments="{_all}" />
        </f:else>
    </f:if>
</f:section>

<f:section name="Grid">
    <div class="row">
        <f:for each="{gridLayout.columns}" as="columnConfig" key="column">
            <ib:variable.set name="columnClasses">col-{columnConfig.xs.w} col-xs-{columnConfig.xs.w}</ib:variable.set>
            <f:for each="{columnConfig}" as="columnTypeConfig" key="type">
                <f:if condition="{type} != 'xs'">
                    <ib:variable.set name="columnClasses">{columnClasses} col-{type}-{columnTypeConfig.w}</ib:variable.set>
                </f:if>
            </f:for>
            <div class="{columnClasses}">
                <ib:content.render colPos="{column}" gridParent="{record.uid}" />
            </div>
        </f:for>
    </div>
</f:section>