{namespace ib=IMIA\ImiaBase\ViewHelpers}

<f:layout name="Default" />

<f:section name="BackendLayout">
    <div class="icons">
        <f:for each="{icons}" as="icon">
            <div style="display: inline-block; padding: 15px; border-radius: 50%; color: {icon.color}; line-height:0; {f:if(condition: icon.background_color, then: 'background-color: {icon.background_color}')}">
                <i class="{icon.icon}" style="text-align: center; line-height: {icon.size}px; font-size: {icon.size}px; display: inline-block; width: {icon.size}px; height: {icon.size}px"></i>
            </div>
        </f:for>
    </div>
</f:section>

<f:section name="Main">
    <div class="icons{f:if(condition: align, then: ' text-{align}')}">
        <f:for each="{icons}" as="icon">
            {icon -> ib:icon.styles()}
            <f:if condition="{icon.link}">
                <f:then>
                    <f:link.typolink parameter="{icon.link}" class="icon" additionalAttributes="{id: 'icon-{icon.uid}'}">
                        <i class="{icon.icon}"></i>
                    </f:link.typolink>
                </f:then>
                <f:else>
                    <span class="icon" id="icon-{icon.uid}">
                        <i class="{icon.icon}"></i>
                    </span>
                </f:else>
            </f:if>
        </f:for>
    </div>
</f:section>