<f:layout name="Default" />

<f:section name="Header">
	<f:if condition="{gallery.position.noWrap} != 1">
		<f:render partial="Header/All" arguments="{_all}" />
	</f:if>
</f:section>

<f:section name="Main">
    <f:render partial="Media/Gallery" arguments="{_all}" />
</f:section>