{namespace ib=IMIA\ImiaBase\ViewHelpers}

<f:layout name="Default" />

<f:section name="BackendLayout">
</f:section>

<f:section name="Main">
    <div class="content-slider">
        <ib:content.render colPos="0" gridParent="{record.uid}" />
    </div>
</f:section>