{namespace ib=IMIA\ImiaBase\ViewHelpers}

<f:layout name="Default" />

<f:section name="BackendLayout">
</f:section>

<f:section name="Main">
    <div id="tabs-{record.uid}" class="tabs">
        <ul class="nav nav-tabs" role="tablist">
            <f:for each="{gridContainers}" as="gridContainer" iteration="iterator">
                <li class="nav-item{f:if(condition: iterator.isFirst, then: ' active')}">
                    <a class="nav-link{f:if(condition: iterator.isFirst, then: ' active')}" data-toggle="tab" href="#tabs-{record.uid}-collapse-{gridContainer.uid}" role="tab">{gridContainer.title}</a>
                </li>
            </f:for>
        </ul>
        <div class="tab-content">
            <f:for each="{gridContainers}" as="gridContainer" iteration="iterator">
                <div class="tab-pane{f:if(condition: iterator.isFirst, then: ' active')}" id="tabs-{record.uid}-collapse-{gridContainer.uid}" role="tabpanel">
                    <ib:content.render colPos="{f:if(condition: gridContainer.l10n_parent, then: gridContainer.l10n_parent, else: gridContainer.uid)}" gridParent="{record.uid}" />
                </div>
            </f:for>
        </div>
    </div>
</f:section>